<p id="notice"><%= notice %></p>

<p>
  <b>Where:</b>
  <%= @swyp_in.where %>
</p>

<p>
  <b>Velocity:</b>
  <%= @swyp_in.velocity %>
</p>

<p>
  <b>Address:</b>
  <%= @swyp_in.address %>
</p>

<p>
  <b>Port:</b>
  <%= @swyp_in.port %>
</p>

<p>
  <b>Id:</b>
  <%= @swyp_in.id %>
</p>

<p>
  <b>Publickey:</b>
  <%= @swyp_in.publicKey %>
</p>

<p>
  <b>Developer:</b>
  <%= @swyp_in.developer.name %>
</p>


<%= link_to 'Edit', edit_swyp_in_path(@swyp_in) %> |
<%= link_to 'Back', swyp_ins_path %>
